h1 {
     background: #bb8378;
     border: 2px solid #600303;
     border-radius: 0.5em;
     color: #fff5f2;
     font-size: 1.4em;
     padding: 1.2em;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3) inset,
                2px 2px 5px 1px rgba(0,0,0,0.3);
     -webkit-text-stroke: 1px rgba(96,3,3,0.6);
}

#display {
     background: #fff5f2;
     margin: 0.1em;
     padding: 0.5em;
     font-size: 5em;
     border: 2px solid #801828;
     border-radius: 5px;
     color: #cd3939;
     -webkit-text-stroke: 1px rgba(128,24,40,0.3);
     display: inline-block;
}

#attempt {
     background: #bb8378;
     border: 2px solid #600303;
     border-radius: 0.5em;
     color: #fff5f2;
     font-size: 1.4em;
     padding: 1.2em;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3) inset,
                2px 2px 5px 1px rgba(0,0,0,0.3);
     -webkit-text-stroke: 1px rgba(96,3,3,0.6);
     font-weight: bold;
     margin-top: 1em;
}
