body {
     margin: 0;
     text-align: center;
     color: #fdecbb;
     font-size: 0.9em;
     font-family: "Times New Roman";
}

h1 {
     color: #131670;
}
div {
     background: #fa2a59;
     margin: 10px;
     padding: 15px;
     border-radius: 15px;
}

#submit {
     background: #f3e9cf;
     color: #df4671;
     border-radius: 10px;
     border: 2px solid #df4671;
     font-weight: bold;
     font-size: 0.8em;
     font-family: "Georgia";
     padding: 5px 10px;
     transition: ease-out 0.2s;
}

#submit:hover {
     color: red;
}

#fname {
     border: 3px solid #fcaec2;
     border-radius: 5px;
     outline: 1px solid #fcaec2;
     color: #7d001c;
     transition: ease-out 0.2s;
}

#fname:hover {
     color: #fa2a59;
     transition: ease-in 0.2s;
}

#lname {
     border: 3px solid #fcaec2;
     border-radius: 5px;
     outline: 1px solid #fcaec2;
     color: #7d001c;
     transition: ease-out 0.2s;
}

#lname:hover {
     color: #fa2a59;
     transition: ease-in 0.2s;
}

#age {
     border: 3px solid #fcaec2;
     border-radius: 5px;
     outline: 1px solid #fcaec2;
     color: #7d001c;
     transition: ease-out 0.2s;
}

#age:hover {
     color: #fa2a59;
     transition: ease-in 0.2s;
}

#lang {
     border: 3px solid #fcaec2;
     border-radius: 5px;
     outline: 1px solid #fcaec2;
     color: #fa2a59;
     font-family: "Times New Roman";
     font-size: 0.8em;
     padding: 5px;
}

